APP_NAME=Enterprise AI Support Platform

APP_ENV=development

DEBUG=True

DATABASE_URL=postgresql+psycopg://support:support@localhost/support_db

REDIS_URL=redis://localhost:6379

OPENAI_API_KEY=your_api_key

JWT_SECRET_KEY=9dc7b97ab9e44af0b2b08b9e53d0a8d7d5e97fd20d504b2d

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

LOG_LEVEL=INFO