include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt

recursive-include docs *
recursive-include src *.py
recursive-include tests *.py

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude *.pyd